﻿@using Sitecore.Mvc
@model Sitecore.Mvc.Presentation.RenderingModel

@if (@Sitecore.Context.PageMode.IsNormal || @Sitecore.Context.PageMode.IsPreview)
{
    Response.ContentType = "application/json";
    @Html.Sitecore().Placeholder("ServiceContent")
}
else
{
    @:<!DOCTYPE html>
    <!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
    <!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
    <!--[if IE 8]> <html class="no-js lt-ie9"> <![endif]-->
    <!--[if gt IE 8]><!-->
    <html class="no-js" lang="@Model.Item.Language.Name">
    <!--<![endif]-->
    <head>
        @{
            var title = string.IsNullOrEmpty(Model.PageItem.DisplayName) ? Model.PageItem.Name : Model.PageItem.DisplayName;
        }
        <title>@title</title>
    </head>
    <body>
        <div id="wrapper">
            @Html.Sitecore().Placeholder("ServiceContent")
        </div>
    </body>
    </html>
}